<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/><!-- 开启二级缓存 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="defaultStatementTimeout" value="5"/>
    </settings>

    <plugins>
        <plugin interceptor="com.dcits.comet.dao.interceptor.OracleInterceptor">
            <!-- 此处应与yml中comet.flow.query-time-out保持一致 -->
            <property name="queryTimeOut" value="180"/>
        </plugin>
        <!--<plugin interceptor="com.dcits.comet.dao.interceptor.MySqlInterceptor"/>-->
        <!--<plugin interceptor="com.dcits.comet.dbsharding.interceptor.HintManagerInterceptor"/>-->
        <!--<plugin interceptor="com.dcits.comet.dbsharding.interceptor.MycatInterceptor"/>-->
    </plugins>

</configuration>